.blockquote {
  max-width: 1000px;
  position: relative;
  text-align: center;
}

.blockquote::before {
  content: open-quote;
  position: absolute;
  font-size: 500%;
  color: #383a59;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

.blockquote p {
  font-family: 'Shippori Mincho B1', serif;
  font-size: 1.4rem;
  color: #bd93f9;
}
